body {
    background-color: rgb(132, 196, 218);
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
#page-title {
    color: rgb(255, 255, 255);
    text-align: center;
}
.text {
    color: rgb(43, 134, 84);
    line-height: 1.5;
    front-size: 18px;
    
}